.filter {
  position: relative;
  height: 100vh;
  padding-top: vw(100);
  padding-bottom: vw(100);
  background-color: var(--bg);
}

.filter__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  row-gap: vw(25);
  width: vw(600);
  height: vw(700);
  background-color: var(--white);
  border-radius: 15px;
  padding: vw(25);
}

.filter__search {
  position: relative;
  width: 100%;
}

.filter__search-input {
  width: 100%;
  border: 2px solid grey;
  border-radius: 15px;
  height: vw(45);
  padding-left: vw(30);
}

.filter__search-svg {
  position: absolute;
  top: vw(14);
  left: vw(10);
  display: block;
  width: vw(20);
  height: vw(20);
}

.filter__list {
  display: flex;
  flex-direction: column;
  row-gap: vw(15);
  overflow: auto;
}

.filter__product {
  display: flex;
  align-items: center;
  column-gap: vw(15);
}

.filter__product-info {
  display: flex;
  flex-direction: column;
  row-gap: vw(12);
}

.filter__product-price {
  font-weight: bold;
}

.filter__img {
  display: block;
  width: vw(120);
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1.06;
  border-radius: 10px;
}
