.search {
  position: relative;
  height: 100vh;
  padding-top: vw(100);
  padding-bottom: vw(100);
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  row-gap: vw(25);
  width: vw(600);
  height: vw(700);
  background-color: var(--white);
  border-radius: 15px;
  padding: vw(25);
}

.search__content {
  position: relative;
  width: 100%;
}

.search__input {
  width: 100%;
  border: 2px solid grey;
  border-radius: 15px;
  height: vw(45);
  padding-left: vw(30);
  padding-right: vw(15);
}

.search__svg {
  position: absolute;
  top: vw(14);
  left: vw(10);
  display: block;
  width: vw(20);
  height: vw(20);
}

.search__list {
  display: flex;
  flex-direction: column;
  row-gap: vw(15);
  overflow: auto;
}

.search__product {
  display: flex;
  align-items: center;
  column-gap: vw(15);
}

.search__product-info {
  display: flex;
  flex-direction: column;
  row-gap: vw(12);
}

.search__product-name {
  font-size: vw(24);
}

.search__product-price {
  font-weight: 900;
  font-size: vw(20);
}

.search__img {
  display: block;
  width: vw(100);
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 10px;
}
